body {
    text-align: center;

}

#tim {
    height: 250px;
    border-radius: 500px;
    margin-bottom: 70px;
    margin-top: 70px;
}

#welcome {
    background: linear-gradient(#e2ed0e 0%, #45eb13 100%);
    height: 100%;
    width: 100%;

}

#bio {
    height: 150%;
    width: 100%;
    text-align: center;
    background-color: aqua;
}

.line {
    background-color: black;
    height: 6px;
    width: 200px;
}

.pbio {
    font-size: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
